html, body {
  width: 100%;
  height: 100%;
}

.chicken-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.chicken {
  background-image: url('./chicken.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}